@import "vars.scss";
@import "mixins.scss";
@import "null.scss";

#root {
  width: 100%;
  height: 100%;
  background-image: url('../images/bg1.jpg');
  overflow: auto;
}

.container {
  background-color: $neutral-base;
  width: 60%;
  margin: 30px auto 0;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px;
}

.error {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .error__mes {
    font-size: 2rem;
    color: #fff;
    width: 60%;
    text-align: center;
    line-height: 1.4;
  }
}

.news__list {
  height: 77vh;
  overflow: auto;
  position: relative;
}

.d_none {
  display: none;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: $neutral-base;
  margin-bottom: 20px;
  &__title {
    font-size: 2rem;
    font-weight: bold;
  }
  &__btn {
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 7px;
    background-color: green;
    color: #fff;
    font-size: 1.2rem;
  }
}

.news__list.anime {
  .news__date {
    width: 170px;
    height: 25px;
  }
  .mask-text__item {
    position: relative;
    height: 25px;
    width: 625px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 25px;
      width: 100%;
    }
    &::before {
      top: 42px;
    }
    &::after {
      top: 84px;
      left: 0;
    }
  }
  .news__imagebox,
  .news__date,
  .mask-text__item,
  .mask-text__item::before,
  .mask-text__item::after {
    background: linear-gradient(90deg, #bdc3c7 0%, #2c3e50 20%, #bdc3c7 40%, #bdc3c7 100%);
    background-size: 700%;
    animation: gradient 2s linear 0s infinite;
  }
  @keyframes gradient {
    0% {
      background-position: -600px 0;
    }
    100% {
      background-position: 600px 0;
    }
  }
  img {
    display: none;
  }
}

.news {
  &:nth-child(n + 2) {
    margin-top: 35px;
  }
  &__date {
    font-size: 1.3rem;
  }
  &__content {
    display: flex;
    margin-top: 20px;
    .news__imagebox {
      flex: 0 0 200px;
      height: 150px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .news__text {
      margin-left: 20px;
      font-size: 1.7rem;
      line-height: 1.4;
      font-weight: bold;
    }
  }
}